@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --color-primary-1: #a100ff;
  --color-primary-2: #6d28d9;
  --color-on-primary: #ffffff;

  --color-background: #e3e3e3;
  --color-background-page: #f3f3f3;

  --color-on-background: #000000;
  --color-on-background-2: #505050;

  --color-surface-lowest: #000000;
  --color-neutral-1: #e7e7e7;

  --color-container: #ffffff;
  --color-on-container: #000000;
  --color-container-border: #dcdcdc;
  --color-grid-lines: #e7e7e7;

  --color-container-on-container: #f9f9f9;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-weight: 600; /* o 700 */
  --letter-spacing: -0.02em;
}
